# Python
__pycache__/
*.py[cod]
*$py.class

# Sqlite
db.sqlite3
db.sqlite2
*.sqlite3

# Migrations - as requested, ignoring contents but keeping the module valid
**/migrations/*
!**/migrations/__init__.py

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
